<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        <h1>{{ .Title }}</h1>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "in" site.Params.mainSections) }}
        {{ range $paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}
        {{ partial "pagination" . }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>

